{{!-- https://swiperjs.com/get-started --}}
	<!-- Slider main container -->
	<div class="swiper">
		<!-- required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			
			<div class="swiper-slide"><img src="/images/fmo_img1.jpg" class="swiper-img" /></div>
			<div class="swiper-slide"><img src="/images/fmo_img2.jpg" class="swiper-img" /></div>
			<div class="swiper-slide"><img src="/images/fmo_img3.jpg" class="swiper-img" /></div>
		</div>
		<!-- pagination -->
		<div class="swiper-pagination"></div>

		<!-- navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

		<!-- scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>