<section>
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/stalls/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{name}} Aquiii</header>
    <!-- The card contains the first painting of the gallery -->
  </a>
    
</section>