<h2 class="used-by-title text-center">Used by</h2>
<div class="used-by-container">
	<img class="used-by-image" src="/images/logos/CentralFarmersMarket_Logo.png" />
	<img class="used-by-image" src="/images/logos/EasternFarmersMarket_Logo.png" />
	<img class="used-by-image" src="/images/logos/SouthernFarmersMarket_Logo.png" />
</div>