<h2 class="what-we-do-title text-center">What we do</h2>
<div class="row">
	<div class="col-sm-12 col-md-6 col-xl-4 mb-3">
		<div class="card what-we-do-card">
			<div class="card-body d-flex flex-column align-items-center flex-wrap">
				<i class="fa-solid fa-users what-we-do-icon"></i>
				<h5 class="card-title">Users</h5>
				<p class="card-text w-100">One place to find all the fresh produce you need. We provide:</p>
				<ui class="what-we-do-list">
					<li class="what-we-do-list-item">A list of farmers markets to find fresh produce</li>
					<li class="what-we-do-list-item">The ability to search all the different farmers markets to find the best prices</li>
					<li class="what-we-do-list-item">Discover your local farmers markets and what they offer</li>
				</ui>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-xl-4 mb-3">
		<div class="card what-we-do-card">
			<div class="card-body d-flex flex-column align-items-center flex-wrap">
				<i class="fa-solid fa-store what-we-do-icon"></i>
				<h5 class="card-title">Stallholders</h5>
				<p class="card-text w-100">Ever wanted an easier way to sell your fresh produce at a farmers market? Look no further! You will be able to:</p>
				<ui class="what-we-do-list">
					<li class="what-we-do-list-item">Select a farmers market that you would like to sell and start renting a stall</li>
					<li class="what-we-do-list-item">Reach a larger audience for your produce</li>
					<li class="what-we-do-list-item">Provide you with a dashboard of your stalls</li>
				</ui>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-xl-4 mb-3">
		<div class="card what-we-do-card">
			<div class="card-body d-flex flex-column align-items-center flex-wrap">
				<i class="fa-regular fa-building what-we-do-icon"></i>
				<h5 class="card-title">Organisers</h5>
				<p class="card-text w-100">Do you own a farmers market? Or multiple? Would you like one place to manage all your stalls and revenue? We have what you need. We will be able to provide you with:</p>
				<ui class="what-we-do-list">
					<li class="what-we-do-list-item">the ability to add your farmers market on our website for stallholders to rent a stall</li>
					<li class="what-we-do-list-item">Provide you with a dashboard to monitor your market</li>
				</ui>
			</div>
		</div>
	</div>
</div>