<!-- styles and template for main layout from
   https://www.w3schools.com/bootstrap/bootstrap_templates.asp
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farmers market organiser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo FMO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="../users/">Users</a></li>
        <li><a href="../stallhoder/">StallHolders</a></li>
        <li><a href="../locations/">Locations</a></li>
        <li><a href="../stalls/">Stalls</a></li>
        <li><a href="../events/">Events</a></li>
        <li><a href="../bookings/">Bookings</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <h4><small></small></h4>
        {{{body}}}
      <br><br>
    </div>
  </div>
</div>

<footer class="container-fluid">
</footer>

</body>
</html>