<div class="card mb-9">
  <div class="card-body">
    <div class="new-location-container">
        <div class="row g-3">
            <h1>Add Logo</h1>
            <form action="/api/locations/upload" enctype="multipart/form-data" method="post">
                <div class="form-group col-md-6">
                    <input type="file" name="image" id="image">
                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                </div>
            </form>    
        </div>
    </div>
   </div>
  </div>        