{{!-- The homepage is split into the sidebar and the main body --}}
<div class="d-flex d-flex-row p-3">
	{{> home-sidebar upcomingMarkets=upcomingMarkets}}
	
	{{!-- The main body --}}
	<div class="container">
		Display Information about Farmers market organiser
	</div>
</div>
