{{!-- The homepage is split into the sidebar and the main body --}}
<div class="d-flex d-flex-row p-3">
	{{> sidebar/home-sidebar upcomingMarkets=upcomingMarkets products=products}}
	
	{{!-- The main body --}}
	{{!-- Display the search results --}}
	{{#if isSearching}}
	<div class="container">
		{{> search-results products=products}}
	</div>
	{{else}}
	{{!-- Display the default content if not searching --}}
	<div class="container">
		<h1>Farmers Market Organiser!</h1>
		
		{{!-- https://swiperjs.com/get-started --}}
		<!-- Slider main container -->
		<div class="swiper">
			<!-- required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				
				<div class="swiper-slide"><img src="/images/fmo_img1.jpg" class="swiper-img" /></div>
				{{!-- https://www.tripadvisor.com.au/Attraction_Review-g255364-d7374589-Reviews-Bunbury_Farmers_Market-Bunbury_Western_Australia.html --}}
				<div class="swiper-slide"><img src="/images/fmo_img2.jpg" class="swiper-img" /></div>
				{{!-- https://melbournefoodfestivals.com.au/event/yarraville-village-farmers-market/ --}}
				<div class="swiper-slide"><img src="/images/fmo_img3.jpg" class="swiper-img" /></div>
			</div>
			<!-- pagination -->
			<div class="swiper-pagination"></div>

			<!-- navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

			<!-- scrollbar -->
			<div class="swiper-scrollbar"></div>
		</div>
	</div>
	{{/if}}
</div>
