{{!-- The homepage is split into the sidebar and the main body --}}
{{!-- Display the default content if not searching --}}
<div class="container">
	<div class="heading">
		<h1 class="title text-center"><span class="green">F</span>armers <span class="green">M</span>arket <span class="green">O</span>rganiser<span class="orange">!</span></h1>
		<h3 class="subheading text-center">Fresh produce at your fingertips</h2>
	</div>
	
	<section>
		{{> home-carousel}}
	</section>
	
	<section>
		{{> what-we-do}}
	</section>
	
	<section>
		{{> used-by}}
	</section>
</div>