{{!-- Display the default content if not searching --}}
<div class="container">
	{{#if stallNew}}
		{{> organiser/stall-add stalls=stalls}}
	{{/if}}
	{{#if stallEdit}}
		{{> organiser/stall-edit stalls=stalls}}
	{{/if}}
	{{#if stallView}}
		{{> organiser/stall-view stalls=stalls}}
	{{/if}}
	{{#if stallsList}}
		{{> organiser/stalls-list stalls=stalls}}
	{{/if}}
	{{!-- alerts messages --}}
    {{#if alertMessage}}
        {{> organiser/alert-messages}}
    {{/if}}
	{{#if marketNew}}
        {{> organiser/location-add}}
    {{/if}}
	{{#if locationLogo}}
        {{> organiser/location-logo}}
    {{/if}}
	{{#if statRevenue}}
        {{> organiser/stats-list}}
    {{/if}}
</div>