<div class="card custom-card-form">
	<div class="card-body">
    	<h5 class="card-title text-center">Sign Up</h5>
		<form id="signup-form" novalidate>
			<hr />
			<div class="row">
				<div class="col">
					<label for="signup-username" class="form-label">Username*</label>
					<input type="text" class="form-control" id="signup-username">
					<div class="invalid-username text-danger">
						Please enter a username that is at least 6 characters long
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="signup-password" class="form-label">Password*</label>
					<input type="password" class="form-control" id="signup-password">
					<div class="invalid-password text-danger">
						Please enter a password that is at least 6 characters long
					</div>
				</div>
			</div>
			{{!-- <div class="row">
				<div class="col">
					<label for="signup-password-confirm" class="form-label">Confirm Password</label>
					<input type="password" class="form-control" id="signup-password-confirm" required>
				</div>
			</div> --}}
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<label for="signup-first-name" class="form-label">First Name*</label>
					<input type="text" class="form-control" id="signup-first-name">
					<div class="invalid-first-name text-danger">
						Please enter a first name
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<label for="signup-last-name" class="form-label">Last Name*</label>
					<input type="text" class="form-control" id="signup-last-name">
					<div class="invalid-last-name text-danger">
						Please enter a last name
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="signup-email" class="form-label">Email*</label>
					<input type="text" class="form-control" id="signup-email">
					<div class="invalid-email text-danger">
						Please enter a valid email
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="signup-mobile" class="form-label">Mobile* (123-456-7890)</label>
					<input type="tel" placeholder="123-456-7890" class="form-control" id="signup-mobile">
					<div class="invalid-mobile text-danger">
						Please match the pattern specified. You don't need to type the dashes
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="signup-role" class="form-label">Role*</label>
					<select class="form-select" aria-label="Default select example" id="signup-role">
						<option value="Stallholder">Stallholder</option>
						<option value="Organiser">Organiser</option>
						{{!-- <option value="User">User</option> --}}
					</select>
				</div>
			</div>
			<hr />
			<button type="submit" class="btn btn-primary btn-form btn-center">SIGN UP</button>
		</form>
	</div>
</div>
<script src="/js/login.js"></script>