<div class="card custom-card-form">
	<div class="card-body">
    	<h5 class="card-title text-center">Sign Up</h5>
		<form id="signup-form">
			<hr />
			<div class="row">
				<div class="col">
					<label for="login-username" class="form-label">Username</label>
					<input type="text" class="form-control" id="login-username" required>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="login-password" class="form-label">Password</label>
					<input type="password" class="form-control" id="login-password" required>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="login-password-confirm" class="form-label">Confirm Password</label>
					<input type="password" class="form-control" id="login-password-confirm" required>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<label for="login-first-name" class="form-label">First Name</label>
					<input type="text" class="form-control" id="login-first-name" required>
				</div>
				<div class="col-sm-12 col-md-6">
					<label for="login-last-name" class="form-label">Last Name</label>
					<input type="text" class="form-control" id="login-last-name" required>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="login-email" class="form-label">Email</label>
					<input type="text" class="form-control" id="login-email" required>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="login-mobile" class="form-label">Mobile</label>
					<input type="text" class="form-control" id="login-mobile" required>
				</div>
			</div>
			<hr />
			<button type="submit" class="btn btn-primary btn-form btn-center">SIGN UP</button>
		</form>
	</div>
</div>
<script src="/js/login.js"></script>