
{{!-- Display the default content if not searching --}}
<div class="container">
	Display Information about Farmers market organiser
	{{#if stallEdit}}
		{{> organiser/stall-edit stalls=stalls}}
	{{/if}}
	{{#if stallView}}
		{{> organiser/stall-view stalls=stalls}}
	{{/if}}
	{{#if stallsList}}
		{{> organiser/stalls-list stalls=stalls}}
	{{/if}}
</div>