<div class="sidebar d-flex flex-column flex-shrink-0">
	{{> sidebar/upcoming-markets upcomingMarkets=upcomingMarkets}}
	{{> sidebar/search-products products=products}}
	 {{#if loggedInUser.role_type }}
		<span class="navbar-text">
			{{> sidebar/stalls-button}}
		</span>
	  {{/if}}
</div>