<div class="sidebar d-flex flex-column flex-shrink-0">
	{{> sidebar/upcoming-markets upcomingMarkets=upcomingMarkets}}
	{{> sidebar/search-sidebar products=products}}
	{{#isOrganiser loggedInUser.role_type }}
		<div class="navbar-text">
			{{> sidebar/stalls-button}}
		</div>
		<div class="navbar-text">
			{{> sidebar/location-button}}
		</div>
		<div class="navbar-text">
			{{> sidebar/location-logo-button}}
		</div>
		<div class="navbar-text">
			{{> sidebar/event-button}}
		</div>
		<div class="navbar-text">
			{{> sidebar/stats-button}}
		</div>
	{{/isOrganiser}}
	{{> sidebar/stallholder-button stallholder=stallholder}}
</div> 