<div class="sidebar d-flex flex-column flex-shrink-0">
	{{> sidebar/upcoming-markets upcomingMarkets=upcomingMarkets}}
	{{> sidebar/search-products products=products}}
	 {{#if loggedInUser.role_type }}
		<div class="navbar-text">
			{{> sidebar/stalls-button}}
		</div>
		{{!-- <div class="navbar-text"> --}}
			{{> sidebar/stallholder-button}}
		{{!-- </div> --}}
	  {{/if}}
</div>