<div class="card my-3">
	<div class="card-body">
		<h5 class="card-title search-title">Search</h5>
		<hr />
		<input id="search-input" type="text" class="form-control" />
		<div class="search-filters">
			<div class="search-filters-title">Filters:</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="filter-chk-products">
				<label class="form-check-label" for="filter-chk-products">
					Products
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="filter-chk-markets">
				<label class="form-check-label" for="filter-chk-markets">
					Markets
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="filter-chk-stallholders">
				<label class="form-check-label" for="filter-chk-stallholders">
					Stallholders
				</label>
			</div>
		</div>
	</div>
</div>