<div class="card mb-3">
	<div class="card-body">
		<h5 class="card-title">Upcoming markets</h5>
		<hr />
		<ul class="no-list-style">
			{{#each upcomingMarkets as |upcomingMarket|}}
			<li class="list-item-block">
				<a href={{generateMarketLink upcomingMarket.location.id}} class=" list-item-block-link">{{upcomingMarket.location.market_name}} - {{formatDate upcomingMarket.timestamp_start}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
</div>