{{!-- This is for displaying stalls that have produce in them. Not going to be showing stalls that are available --}}
<div class="booked-stall-container">
	{{#if hasBookedStalls}}
	{{#each bookedStalls as |bookedStall|}}
	{{#each bookedStall.eventsbookings as |eventBooking|}}
	{{#areDatesEqual eventBooking.booking.lease_start ../../currentDate}}
	{{#each eventBooking.booking.stallholder.products as |product|}}
	{{> market/productCard product=product stallholder=eventBooking.booking.stallholder stallName=bookedStall.stall_name}}
	{{/each}}
	{{/areDatesEqual}}
	{{/each}}
	{{/each}}
	{{else}}
	<div class="booked-stall-no-stalls">
		Sorry, no products are available at this time!
	</div>
	{{/if}}
</div>